body{
    background-color: #eee;
}

.list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "AllerRg";
    border: 1px solid #ccc;
    cursor: pointer;
    color: rgb(250, 25, 25);
}

.list-item:hover{
    color: #fff;
    border: none;
    transition: all 0.5s ease-in-out;
}

.list-item:hover .click-btn{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: -100%;
    background-color: rgb(250, 25, 25);
    animation-name: clickBtn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

a:active .list-item{
    transform: scale(0.90);
}

@keyframes clickBtn {
    0%{left: -100%;}
    100%{left: 0%;}
}