body{
    background-color: #eee;
}
.loginForm{
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 5px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0px auto;
}

form input[type=text], form input[type=password]{
    border: 1px solid #ccc;
    background-color: white;
    font-family: "AllerRg";
}

form input[type=text]:focus, form input[type=password]:focus{
    background-color: white;
    border: 1px solid lightskyblue;
    box-shadow: 0px 0px 2px lightskyblue;
}

form input[type=password]{
    padding: 10px 15px;
    width: 100%;
}

form input[type=submit], form button[type=submit]{
    background-color: darkblue;
    color: white;
    width: 100%;
}

form input[type=submit]:hover, form button[type=submit]:hover{
    transform: none;
}

form input[type=submit]:active, form button[type=submit]:active{
    transform: scale(0.95);
    background-color: lightskyblue;
    font-family: "AllerRg";   
}

.admin-title{
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "AllerBd";
}